*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
    
}

/*navbar*/

.nav{   
    position: fixed;
	height: 70px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 53px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background: rgba( 255, 255, 255, 0.15 );
	
	backdrop-filter: blur( 8.0px );
	-webkit-backdrop-filter: blur( 8.0px );
}

.logo{
    font-family: 'Pacifico', cursive;
	font-size: 30px;
    color: #36622B;
    display: flex;
}

.logo-img{
    padding-top: 5px;
}

.nav-links{
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
}

.links{
	padding: 20px 40px 20px 0px;
	font-size: 25px;
}

.links a:hover {
    border-bottom: #36622B solid 4px;
}

a{
	text-decoration: none;
	color: #000;
}

/*container*/
.sec{
    height: 100vh;
    width: 100vw;
    padding:0 10% 0 10%;
}

.sec:nth-child(even){
    background-color: #F3F4ED;
}

.sec:nth-child(odd){
    background-color: #98DED9;
}

.heading{
    font-size: 50px;
    text-align: center;
    padding: 80px 0 60px 0;
}



/*home*/

.home{
    display: flex;
}

.box1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.box2{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1{
    font-size: 55px;
}

.btn1{
    margin-top: 30px;
	border-style: none;
	outline: none;
	height: 60px;
	width: 170px;
	background-color: dodgerblue;
	color: white;
	font-size: 25px;
	border-radius: 40px;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

img.move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

/*menu*/

.menu-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-card{
    height: 300px;
    width: 200px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 0px 53px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-card:hover{
    transform: translateY(-15px);
}

.food{
    font-size: 20px;
    padding: 5px;
}

/*about*/
.about-content{
    font-size: 30px;
    padding: 40px 0 0 0;
}

.order-btn{
    margin-top: 10px;
    border-style: none;
    outline: none;
    height: 35px;
    width: 140px;
    background-color: dodgerblue;
    color: white;
    font-size: 18px;
    border-radius: 40px;
}

/*footer*/
.footer{
    background-color: #171717;
    height: 180px;
    width: 100vw;
    padding:30px 10% 5px 10%;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.fsub a {
    text-decoration: none;
    color: #DDDDDD;
}

.flogo{
    font-family: 'Pacifico', cursive;
	font-size: 30px;
    color: #fff;
    display: flex;
}

.fsub{
    font-size: 14px;
    color: #DDDDDD;
}

.fhead{
    font-size: 18px;
}

/**/


/**/


